{% extends "base.html" %}

{% block head %}
<meta name="description" content="WeeQuiz: bringing you the best in Scottish trivia.">
{% endblock %}

{% block content %}

<style>
  .jumbotron{
margin-top: 20px;
background-image: url("https://live.staticflickr.com/1938/31626629498_cfb16fbfd8_b.jpg");
background-size: cover;
background-position: top;
background-repeat: no-repeat;
height: 250px;
}

</style>

<div class="jumbotron p-4 p-md-5">
  <div class="col-md-12 px-0">
  </div>
</div>

<main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-4">About WeeQuiz</h1>
      <p class="lead">WeeQuiz is a quiz website dedicated to the beautiful country of <b>Scotland</b>. Started in March 2020, it has always had a single aim: to provide free quizzes that allow everyone to think about, explore and get to know Scotland. Think we're missing a trick? Then don't hesitate to <a href="mailto:theteam@weequiz.com">Email Us</a>!</p>
      <h1 class="mt-4">The Technology</h1>
      <ul class="list-group">
        <li class="list-group-item"><b>Python</b>: the main language the code is written in</li>
        <li class="list-group-item"><b>Flask</b>: the python web framework I chose</li>
        <li class="list-group-item"><b>Javascript</b>: the fancy stuff</li>
        <li class="list-group-item"><b>Github</b>: where the code is hosted</li>
        <li class="list-group-item"><b>VSCode</b>: where the code it written</li>
        <li class="list-group-item"><b>Bootstrap</b>: making the code pretty, standardised and responsive</li>
        <li class="list-group-item"><b>Azure</b>: what runs the show</li>
      </ul>
      <h1 class="mt-4">The Team</h1>
      <p class="lead">WeeQuiz is a small team at present but with big ambitions to grow in the future.</p>
    </div>
  </main>
  
{% endblock %}