{% extends "base.html" %}
{% block content %}

<main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-4">About WeeQuiz</h1>
      <p class="lead">I started WeeQuiz through love for the irrepressible beauty of Scotland. I first travelled there as a kid and have never really stopped. WeeQuiz is dedicated to all those glens, lochs, munros and wee towns that I have visited or am yet to visit. Here's to you Scotland!</p>
      <h1 class="mt-4">Scotland</h1>
      <p class="lead">For as long as I remember I have always loved Scotland and each journey (read pilgrimage) I make there only makes my feelings grow stronger. Although born and bred in Wales I have pretty much visited Scotland every single year of my life. I have climbed the northernmost (Ben Hope) and southernmost (Ben Lomond) munros, I have been on the most northerly island in the UK (Unst, Shetland) and taken the ferry to Stornoway from Ullapool as well seen snow on the beach in Aberdeen. I have stared in awe at the deepest loch in Scotland (1,000ft!), re-enacted Monty Python sketches at Doune and failed to learn to snowboard at Cairngorm Mountain. My love for Scotland runs deep, which is why I decided to start WeeQuiz, solely dedicated to quizzes about the beautiful country of Scotland.</p>
      <h1 class="mt-4">The Quizzes</h1>
      <p class="lead">Lots of quizzes, lot of questions, lots of answers.</p>
      <h1 class="mt-4">The Technology</h1>
      <p class="lead">Stack: python, flask, javascript, azure, bootstrap.</p>
      <h1 class="mt-4">The Team</h1>
      <p class="lead">Alex - the main coder - and anyone he can wrangle into testing WeeQuiz.</p>
    </div>
  </main>

{% endblock %}