{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}


<style>
  #quizbox {
      border: solid;
      border-width: 1px;
  } 
  .jumbotron {
    background-image: url("https://images.unsplash.com/photo-1545039776-d36e2b37cd23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    border: black;
    border: 5px;
  }
</style>


<div class="jumbotron p-4 p-md-5">
</div>

<div class="container text-center">
    <h1 class="display-4 font-italic">{{ myObject.headline }}</h1>
    <p class="lead my-3">{{ myObject.byline }}</p>
</div>

<div class="container">
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Answers:</span>
    </div>
    <input type="text" id="myInput" oninput="myFunction()" class="form-control" placeholder="Enter your answers here" aria-label="Username" aria-describedby="basic-addon1">
  </div>
</div>
<hr>

<div class="container" id="quizbox">
    <p></p>

  <div class="row">
        <div class="col">
            <input type="text" class="form-control" id="q1" placeholder="1">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="q3" placeholder="3">
        </div>
  </div>


  <div class="row">
    <div class="col">
        <input type="text" class="form-control" id="q2" placeholder="2">
    </div>
    <div class="col">
        <input type="text" class="form-control" id="q4" placeholder="4">
    </div>
</div>


<div class="row">
    <div class="col">
        <input type="text" class="form-control" id="q5" placeholder="5">
    </div>
</div>
<p></p>


<div class="container text-center">
<button class="btn btn-outline-secondary" type="submit" onclick="revealFunction()">Reveal</button>
</div>

<p id="reveal"></p>
<p id="score"></p>

</div>

<p></p>

<div class="container text-center">

  <p class="lead"><b>Did you know?</b></p>
  <p class="lead">Hadrian's Wall, or Vallum Aelium in Latin, was begun in AD 122 during the reign of Emperor Hadrian. Built to protect the kingdom of Britannia, it now lies entirely south of the Scottish border. The later Antonine Wall, started in AD 142, however lies entirely within modern day Scotland.</p>

</div>

<p></p>

<script>

    function myFunction() {
        var x = document.getElementById("myInput").value;
        var x = x.toLowerCase();
        if (x == "{{ myObject.answers[0] }}") {
            document.getElementById("q1").value = x;
            document.getElementById("q1").style.borderColor = "green";
            document.getElementById("myInput").value = "";
        }
        if (x == "{{ myObject.answers[1] }}") {
            document.getElementById("q2").value = x;
            document.getElementById("q2").style.borderColor = "green";
            document.getElementById("myInput").value = "";
        }
        if (x == "{{ myObject.answers[2] }}") {
            document.getElementById("q3").value = x;
            document.getElementById("q3").style.borderColor = "green";
            document.getElementById("myInput").value = "";
        }
        if (x == "{{ myObject.answers[3] }}") {
            document.getElementById("q4").value = x;
            document.getElementById("q4").style.borderColor = "green";
            document.getElementById("myInput").value = "";
        }
        if (x == "{{ myObject.answers[4] }}") {
            document.getElementById("q5").value = x;
            document.getElementById("q5").style.borderColor = "green";
            document.getElementById("myInput").value = "";
        }
    }

function revealFunction() {
  var reveal1 = document.getElementById("q1");
  reveal1.value = "{{ myObject.answers[0] }}";
  var reveal2 = document.getElementById("q2");
  reveal2.value = "{{ myObject.answers[1] }}";
  var reveal3 = document.getElementById("q3");
  reveal3.value = "{{ myObject.answers[2] }}";
  var reveal4 = document.getElementById("q4");
  reveal4.value = "{{ myObject.answers[3] }}";
  var reveal5 = document.getElementById("q5");
  reveal5.value = "{{ myObject.answers[4] }}";
  }
</script>

{% endblock %}