{% extends "base.html" %}
{% block content %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
    .jumbotron{
  margin-top: 20px;
  background-image: url("https://live.staticflickr.com/8781/28768069342_378de52152_b.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
}

</style>

<div class="jumbotron p-4 p-md-5 text-white text-center rounded bg-dark">
    <div class="col-md-12 px-0">
        <h1 class="display-4 font-italic">Jumbo Quizzes</h1>
    <p class="lead my-3">Settle in to a Jumbo Quiz here.</p>
    </div>
  </div>

  <hr>
  <h2 class="display-5 text-center">Featured Quizzes</h2>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Scottish Councils. <span class="text-muted">All 32.</span></h2>
        <p class="lead">How many can you name?</p>
      </div>
      <div class="col-md-5">
        <a href="{{ url_for('shirequiz', quizName='councils') }}" class="stretched-link btn-warning"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/125631/mountain.svg"></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Historic Scottish Counties. <span class="text-muted">All 32.</span></h2>
        <p class="lead">How many can you name?</p>
      </div>
      <div class="col-md-5 order-md-1">
        <a href="{{ url_for('shirequiz', quizName='shires') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/87093/stonehenge.svg"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Inhabited Islands. <span class="text-muted">Top 30.</span></h2>
        <p class="lead">Will you seil through it?</p>
      </div>
      <div class="col-md-5">
        <a href="{{ url_for('jumboquiz', quizName='inhabitedIslands') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/132123/island.svg"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider">


    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Towns by population. <span class="text-muted">Top 30.</span></h2>
        <p class="lead">Hint: starts with Glasgow!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <a href="{{ url_for('jumboquiz', quizName='jumboTowns') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/216301/celtic.svg"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Highest Munros. <span class="text-muted">Top 30.</span></h2>
        <p class="lead">How many do you know?</p>
      </div>
      <div class="col-md-5">
        <a href="{{ url_for('jumboquiz', quizName='jumboMunros') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/248762/scotland.svg"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <hr class="featurette-divider">


    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Scottish UK Parliamentary Constituencies. <span class="text-muted">Top 30.</span></h2>
        <p class="lead">Difficult, even for psephologists.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <a href="{{ url_for('jumboquiz', quizName='jumboScottishConstituencies') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/70997/vote.svg"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Highest Corbetts. <span class="text-muted">Top 30.</span></h2>
        <p class="lead">How many do you know?</p>
      </div>
      <div class="col-md-5">
        <a href="{{ url_for('jumboquiz', quizName='jumboCorbetts') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/54318/mountain.svg"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Scottish Tourist Attractions. <span class="text-muted">Top 20.</span></h2>
        <p class="lead">Can you name them all?</p>
      </div>
      <div class="col-md-5 order-md-1">
        <a href="{{ url_for('twentyquiz', quizName='touristAttractions') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/165170/museum.svg"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Least Inhabited Islands. <span class="text-muted"> Bottom 30.</span></h2>
        <p class="lead">Difficulty level: fiendish</p>
      </div>
      <div class="col-md-5">
        <a href="{{ url_for('jumboquiz', quizName='jumboLeastIslands') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/229534/village.svg"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Scottish Mountain Areas. <span class="text-muted">30.</span></h2>
        <p class="lead">Can you name them all?</p>
      </div>
      <div class="col-md-5 order-md-1">
        <a href="{{ url_for('jumboquiz', quizName='jumboSierras') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/13628/picture-with-river-and-mountains-hand-drawn-square.svg"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Grahams. <span class="text-muted">Top 30.</span></h2>
        <p class="lead">Can you name them all?</p>
      </div>
      <div class="col-md-5">
        <a href="{{ url_for('jumboquiz', quizName='grahams') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/231985/hill.svg"></image></svg>
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Donalds. <span class="text-muted">Top 30.</span></h2>
        <p class="lead">Can you name them all?</p>
      </div>
      <div class="col-md-5 order-md-1">
        <a href="{{ url_for('jumboquiz', quizName='jumboDonalds') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/289246/mountain.svg"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider">



    <!-- /END THE FEATURETTES -->

{% endblock %}