{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
    .jumbotron{
  margin-top: 20px;
  background-image: url("https://live.staticflickr.com/4317/35937288962_b4e107d777_b.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
}

</style>

<div class="jumbotron p-4 p-md-5 text-dark text-center rounded bg-dark">
    <div class="col-md-12 px-0">
        <h1 class="display-4 font-italic">Mountains</h1>
    <p class="lead my-3">One 3,000ft mountain after another</p>
    </div>
  </div>

  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row mb-2">
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 ">Mountains</strong>
                  <h3 class="mb-0">Ski Areas</h3>
                  <p class="card-text mb-auto">By height</p>
                  <a href="{{ url_for('smallquiz', quizName='skiAreaHeights') }}" class="stretched-link btn-primary">Take the quiz</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 ">Mountains</strong>
                  <h3 class="mb-0">Ski Areas Picture Quiz</h3>
                  <p class="mb-auto">Can you identify Scotland's iconic skiing areas?</p>
                  <a href="{{ url_for('picturequiz', quizName='skiAreaPictures') }}" class="stretched-link btn-primary">Take the quiz</a>
                </div>
              </div>
            </div>
          </div>      </div>
      <div class="carousel-item">
        <div class="row mb-2">
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 ">Mountains</strong>
                  <h3 class="mb-0">Non-munros</h3>
                  <p class="card-text mb-auto">No easy answers here.</p>
                  <a href="{{ url_for('smallquiz', quizName='nonMunros') }}" class="stretched-link btn-primary">Take the quiz</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 ">Mountains</strong>
                  <h3 class="mb-0">Five Highest Mountains</h3>
                  <p class="mb-auto">There's that one by Fort William</p>
                  <a href="{{ url_for('smallquiz', quizName='fiveHighest') }}" class="stretched-link btn-primary">Take the quiz</a>
                </div>
              </div>
            </div>
          </div>      </div>
      <div class="carousel-item">
        <div class="row mb-2">
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 ">Mountains</strong>
                  <h3 class="mb-0">Ten Highest Mountains</h3>
                  <p class="card-text mb-auto">Twice as big, thrice as difficult as the five highest</p>
                  <a href="{{ url_for('mediumquiz', quizName='tenHighest') }}" class="stretched-link btn-primary">Take the quiz</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 ">Mountains</strong>
                  <h3 class="mb-0">Five in Glencoe</h3>
                  <p class="mb-auto">Even James Bond has driven through it, but did you pay attention?</p>
                  <a href="{{ url_for('smallquiz', quizName='fiveInGlencoe') }}" class="stretched-link btn-primary">Take the quiz</a>
                </div>
              </div>
            </div>
          </div>      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>

  <hr>

  <div class="row mb-2">
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">Mountains</strong>
          <h3 class="mb-0">Island Quiz</h3>
          
          <p class="card-text mb-auto">The Skye's the limit in our Island Capitals quiz</p>
          <a href="{{ url_for('smallquiz', quizName='islandCapitals') }}" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">Mountains</strong>
          <h3 class="mb-0">Mountains Quiz</h3>
          
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">Mountains</strong>
          <h3 class="mb-0">Mountains Quiz</h3>
          
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">Mountains</strong>
          <h3 class="mb-0">Mountains Quiz</h3>
          
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
  </div> 
  
  <div class="row mb-2">
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">Mountains</strong>
          <h3 class="mb-0">Island Quiz</h3>
          
          <p class="card-text mb-auto">The Skye's the limit in our Island Capitals quiz</p>
          <a href="{{ url_for('smallquiz', quizName='islandCapitals') }}" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">Mountains</strong>
          <h3 class="mb-0">Mountains Quiz</h3>
          
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">Mountains</strong>
          <h3 class="mb-0">Mountains Quiz</h3>
          
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">Mountains</strong>
          <h3 class="mb-0">Mountains Quiz</h3>
          
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
  </div> 
  
  <div class="row mb-2">
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">Mountains</strong>
          <h3 class="mb-0">Island Quiz</h3>
          
          <p class="card-text mb-auto">The Skye's the limit in our Island Capitals quiz</p>
          <a href="{{ url_for('smallquiz', quizName='islandCapitals') }}" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">Mountains</strong>
          <h3 class="mb-0">Mountains Quiz</h3>
          
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">Mountains</strong>
          <h3 class="mb-0">Mountains Quiz</h3>
          
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">Mountains</strong>
          <h3 class="mb-0">Mountains Quiz</h3>
          
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
  </div> 
  
  <div class="row mb-2">
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">Mountains</strong>
          <h3 class="mb-0">Island Quiz</h3>
          
          <p class="card-text mb-auto">The Skye's the limit in our Island Capitals quiz</p>
          <a href="{{ url_for('smallquiz', quizName='islandCapitals') }}" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">Mountains</strong>
          <h3 class="mb-0">Mountains Quiz</h3>
          
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">Mountains</strong>
          <h3 class="mb-0">Mountains Quiz</h3>
          
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">Mountains</strong>
          <h3 class="mb-0">Mountains Quiz</h3>
          
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
  </div> 
  
{% endblock %}