{% extends "base.html" %}

{% block head %}
<meta name="description" content="WeeQuiz: try our NC500 quiz today.">
{% endblock %}

{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<style>
    #quizbox {
        border: solid;
        border-width: 1px;
    } 
    #mapid { 
      height: 1080px; 
    }
    .jumbotron{
  margin-top: 20px;
  background-image: url("https://images.unsplash.com/photo-1594929110369-b967fd16681c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
}
</style>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>

<main role="main" class="container text-center">
  <div class="jumbotron">
  </div>

  <div class="container">
    <h1>NC500</h1>
    <p class="lead">Can you identify these 10 towns on the NC500 route?</p>
    <h3 id="count">0</h3>
    <p></p>
  </div>

  <div class="container">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Answers:</span>
        </div>
        <input type="text" id="myInput" oninput="myFunction()" class="form-control" placeholder="Enter your answers here" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </div>

    <div id="mapid"></div>
    <p></p>

</div>

<div class="container text-center">

  <p class="lead"><b>Did you know?</b></p>
  <p class="lead">The <b>North Coast 500</b> has been so successful since its inception in 2015 that it has quickly led to copycat routes such as the <b>North East 250</b> which explores the Cairngorms, Royal Deeside & Moray Forth coast. Another such route, <b>the Heart of Perthshire</b>, runs 200 miles from Perth & Stirling through the Trossachs.</p>

</div>

<script>
var map = L.map('mapid', {
    center: [58.024044, -4.402478],
    zoom: 9,
    dragging: false,
    minZoom: 9,
    maxZoom: 9
});

L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain-background/{z}/{x}/{y}{r}.{ext}', {foo: 'bar', attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors', ext: 'png'}).addTo(map);

var inverness = L.marker([57.475567, -4.226235]).addTo(map);
var tain = L.marker([57.811782, -4.056697]).addTo(map);
var brora = L.marker([58.010771, -3.853135]).addTo(map);
var thurso = L.marker([58.595423, -3.524336]).addTo(map);
var tongue = L.marker([58.478391, -4.417991]).addTo(map);
var drumbeg = L.marker([58.242826, -5.201195]).addTo(map);
var ullapool = L.marker([57.900383, -5.165596]).addTo(map);
var poolewe = L.marker([57.758004, -5.615587]).addTo(map);
var wick = L.marker([58.438173, -3.089302]).addTo(map);
var lochcarron = L.marker([57.388093, -5.567394]).addTo(map);

var new_popup = L.popup({"autoClose": false, "closeOnClick": null});

var count = 0;

function myFunction() {
        var x = document.getElementById("myInput").value;
        var x = x.toLowerCase();
        if (x == "inverness") {
          inverness.bindTooltip('Inverness').openTooltip();
          document.getElementById("myInput").value = "";
          count ++;
          document.getElementById("count").innerText = count;
        }
        if (x == "tain") {
          tain.bindTooltip('Tain').openTooltip();  
          document.getElementById("myInput").value = "";
          count ++;
          document.getElementById("count").innerText = count;
        }
        if (x == "brora") {
          brora.bindTooltip('Brora').openTooltip();
          document.getElementById("myInput").value = "";
          count ++;
          document.getElementById("count").innerText = count;
        }
        if (x == "thurso") {
          thurso.bindTooltip('Thurso').openTooltip();
          document.getElementById("myInput").value = "";
          count ++;
          document.getElementById("count").innerText = count;
        }
        if (x == "tongue") {
          tongue.bindTooltip('Tongue').openTooltip();
          document.getElementById("myInput").value = "";
          count ++;
          document.getElementById("count").innerText = count;
        }
        if (x == "drumbeg") {
          drumbeg.bindTooltip('Drumbeg').openTooltip();
          document.getElementById("myInput").value = "";
          count ++;
          document.getElementById("count").innerText = count;
        }
        if (x == "ullapool") {
          ullapool.bindTooltip('Ullapool').openTooltip();
          document.getElementById("myInput").value = "";
          count ++;
          document.getElementById("count").innerText = count;
        }
        if (x == "poolewe") {
          poolewe.bindTooltip('Poolewe').openTooltip();
          document.getElementById("myInput").value = "";
          count ++;
          document.getElementById("count").innerText = count;
        }
        if (x == "lochcarron") {
          lochcarron.bindTooltip('Lochcarron').openTooltip();
          document.getElementById("myInput").value = "";
          count ++;
          document.getElementById("count").innerText = count;
        }
        if (x == "wick") {
          wick.bindTooltip('Wick').openTooltip();
          document.getElementById("myInput").value = "";
          count ++;
          document.getElementById("count").innerText = count;
        }
    }

</script>
  


{% endblock %}