{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
    .jumbotron{
  margin-top: 20px;
  background-image: url("https://live.staticflickr.com/4296/35123364284_2af6b1519d_b.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 250px;
}

</style>

<div class="jumbotron p-4 p-md-5 text-white text-center rounded bg-dark">
    <div class="col-md-12 px-0">
        <h1 class="display-4 font-italic">People</h1>
    <p class="lead my-3">He who holds Stirling, holds Scotland</p>
    </div>
  </div>

  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row mb-2">
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 ">People</strong>
                  <h3 class="mb-0">Island Capitals</h3>
                          <p class="card-text mb-auto">The Skye's the limit in our Island Capitals quiz</p>
                  <a href="{{ url_for('smallquiz', quizName='islandCapitals') }}" class="stretched-link btn-primary">Take the quiz</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 ">People</strong>
                  <h3 class="mb-0">Ultimate Munro Quiz</h3>
                          <p class="mb-auto">Highest Munro? Lowest Munro? Was a Munro? Test your knowledge here</p>
                  <a href="" class="stretched-link btn-primary">Take the quiz</a>
                </div>
              </div>
            </div>
          </div>      </div>
      <div class="carousel-item">
        <div class="row mb-2">
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 ">People</strong>
                  <h3 class="mb-0">Island Capitals</h3>
                          <p class="card-text mb-auto">The Skye's the limit in our Island Capitals quiz</p>
                  <a href="{{ url_for('smallquiz', quizName='islandCapitals') }}" class="stretched-link btn-primary">Take the quiz</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 ">People</strong>
                  <h3 class="mb-0">Ultimate Munro Quiz</h3>
                          <p class="mb-auto">Highest Munro? Lowest Munro? Was a Munro? Test your knowledge here</p>
                  <a href="" class="stretched-link btn-primary">Take the quiz</a>
                </div>
              </div>
            </div>
          </div>      </div>
      <div class="carousel-item">
        <div class="row mb-2">
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 ">People</strong>
                  <h3 class="mb-0">Island Capitals</h3>
                          <p class="card-text mb-auto">The Skye's the limit in our Island Capitals quiz</p>
                  <a href="{{ url_for('smallquiz', quizName='islandCapitals') }}" class="stretched-link btn-primary">Take the quiz</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 ">People</strong>
                  <h3 class="mb-0">Ultimate Munro Quiz</h3>
                          <p class="mb-auto">Highest Munro? Lowest Munro? Was a Munro? Test your knowledge here</p>
                  <a href="" class="stretched-link btn-primary">Take the quiz</a>
                </div>
              </div>
            </div>
          </div>      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>

  <h2 class="display-5 text-center">Featured Quizzes</h2>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Influential Scottish Women. <span class="text-muted">Picture Quiz.</span></h2>
        <p class="lead">Difficult, unless you're a munro bagger.</p>
      </div>
      <div class="col-md-5">
        <a href="{{ url_for('picturequiz', quizName='munroPicture') }}" class="stretched-link btn-warning"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/15252/football.svg"></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">People II. <span class="text-muted">Picture Quiz.</span></h2>
        <p class="lead">Neolithic to nineteenth century.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <a href="{{ url_for('picturequiz', quizName='highlandHistory') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/91414/football.svg"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">People III. <span class="text-muted">Picture Quiz.</span></h2>
        <p class="lead">Easy.</p>
      </div>
      <div class="col-md-5">
        <a href="{{ url_for('smallquiz', quizName='hebrideanIsles') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/30529/rugby.svg"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider">


    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">People IV. <span class="text-muted">Quick five.</span></h2>
        <p class="lead">Abbreviations!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <a href="{{ url_for('smallquiz', quizName='quickFiveHighlandHistory') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/60300/pool.svg"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">People V. <span class="text-muted">Legends.</span></h2>
        <p class="lead">How many do you know?</p>
      </div>
      <div class="col-md-5">
        <a href="{{ url_for('smallquiz', quizName='shires') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/80766/olympic-games.svg"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->

  <hr>
  <h2 class="display-5 text-center">Small Quizzes</h2>
  <hr>

  <div class="row mb-2">
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">People</strong>
          <h3 class="mb-0">Island Quiz</h3>
          <p class="card-text mb-auto">The Skye's the limit in our Island Capitals quiz</p>
          <a href="{{ url_for('smallquiz', quizName='islandCapitals') }}" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">People</strong>
          <h3 class="mb-0">People Quiz</h3>
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">People</strong>
          <h3 class="mb-0">People Quiz</h3>
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">People</strong>
          <h3 class="mb-0">People Quiz</h3>
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
  </div> 
  
  <hr>
  <h2 class="display-5 text-center">Medium Quizzes</h2>
  <hr>

  <div class="row mb-2">
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">People</strong>
          <h3 class="mb-0">Island Quiz</h3>
          <p class="card-text mb-auto">The Skye's the limit in our Island Capitals quiz</p>
          <a href="{{ url_for('smallquiz', quizName='islandCapitals') }}" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">People</strong>
          <h3 class="mb-0">People Quiz</h3>
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">People</strong>
          <h3 class="mb-0">People Quiz</h3>
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">People</strong>
          <h3 class="mb-0">People Quiz</h3>
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
  </div> 
  
  <hr>
  <h2 class="display-5 text-center">Picture Quizzes</h2>
  <hr>

  <div class="row mb-2">
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">People</strong>
          <h3 class="mb-0">Island Quiz</h3>
          <p class="card-text mb-auto">The Skye's the limit in our Island Capitals quiz</p>
          <a href="{{ url_for('smallquiz', quizName='islandCapitals') }}" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">People</strong>
          <h3 class="mb-0">People Quiz</h3>
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">People</strong>
          <h3 class="mb-0">People Quiz</h3>
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">People</strong>
          <h3 class="mb-0">People Quiz</h3>
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
  </div> 
  
  <hr>
  <h2 class="display-5 text-center">Jumbo Quizzes</h2>
  <hr>

  <div class="row mb-2">
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">People</strong>
          <h3 class="mb-0">Island Quiz</h3>
          <p class="card-text mb-auto">The Skye's the limit in our Island Capitals quiz</p>
          <a href="{{ url_for('smallquiz', quizName='islandCapitals') }}" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">People</strong>
          <h3 class="mb-0">People Quiz</h3>
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">People</strong>
          <h3 class="mb-0">People Quiz</h3>
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">People</strong>
          <h3 class="mb-0">People Quiz</h3>
          <p class="mb-auto">Quiz quiz quiz</p>
          <a href="" class="stretched-link btn-primary">Take the quiz</a>
        </div>
      </div>
    </div>
  </div> 
  
{% endblock %}