{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}


<style>
  #quizbox {
      border: solid;
      border-width: 1px;
  } 
  .jumbotron {
    background-image: url("https://farm8.staticflickr.com/7421/13787234775_0aeb271d27_b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    border: black;
    border: 5px;
  }
  img {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
</style>


<div class="jumbotron p-4 p-md-5 text-white text-center rounded bg-dark">
<h1 class="display-4 font-italic">Picture quiz:</h1>
<h1 class="display-4 font-italic">{{ myObject.headline }}</h1>

</div>
</div>
<div class="container text-center">
<p class="lead my-3">{{ myObject.byline }}</p>
<div class="btn-group">
    <input type="text" class="form-control" id="q1">
    <div class="container">
        <button class="btn btn-primary" type="submit" onclick="myFunction()">Submit</button>
        <button class="btn btn-secondary" type="submit" onclick="revealFunction()">Reveal</button>
      </div>
</div>
<p id="reveal"></p>
<p id="score"></p>
</div>
</div>


<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{ myObject.questions[0] }}" width="350" height="225"></svg>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{ myObject.questions[1] }}" width="350" height="225"></svg>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{ myObject.questions[2] }}" width="350" height="225"></svg>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{ myObject.questions[3] }}" width="350" height="225"></svg>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{ myObject.questions[4] }}" width="350" height="225">
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{ myObject.questions[5] }}" width="350" height="225"></svg>
          </div>
        </div>


  <script>

    function myFunction() {
    var counter = '';
    var input1 = document.getElementById("q1").value;
    var answer1 = "{{ myObject.answers }}";
    if (input1.toLowerCase() === answer1) {
        counter = 'Correct!';
        document.getElementById("q1").style.borderColor = "green";
    } else {
        counter = "Incorrect!";
        document.getElementById("q1").style.borderColor = "red";
    }
    document.getElementById("score").innerHTML = counter;
}

function revealFunction() {
var reveal1 = document.getElementById("q1");
reveal1.value = "{{ myObject.answers }}";
}

</script>

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



{% endblock %}