{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
    .jumbotron{
  margin-top: 20px;
  background-image: url("https://farm8.staticflickr.com/7517/15749291831_82f6fea250_b.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
}

</style>


<div class="jumbotron p-4 p-md-5 text-white text-center rounded bg-dark">
    <div class="col-md-12 px-0">
    </div>
  </div>

  <div class="container text-center">
    <h1 class="display-4 font-italic">Sport</h1>
    <p class="lead my-3"><i>Golf is now no longer a pastime for the impecunious Scot.</i></p>   
    <p class="lead my-3">From the Calcutta Cup to the Braemar Gathering, from the Murray Brothers to Sir Chirs Hoy. Test your knowledge of Scotland's sporting stars here. Don't know where to start? Try our <a href="#ground">Name the Ground Quiz</a> or the fiendishly-difficult <a href="#1978">Scotland 1978 XI Quiz</a>.</p></p>
  </div>

  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row mb-2">
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2">Sport</strong>
                  <h3 class="mb-0">Scottish Football</h3>
                  <p class="card-text mb-auto">Hall of fame inductees</p>
                  <a href="{{ url_for('fifteenquiz', quizName='footballHall') }}" class="stretched-link btn-dark">Take the quiz</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2">Sport</strong>
                  <h3 class="mb-0">Murray's Grand Slam Finals</h3>
                  <p class="mb-auto">Opponents</p>
                  <a href="{{ url_for('tenquiz', quizName='andyMurrayOpponents') }}" class="stretched-link btn-dark">Take the quiz</a>
                </div>
              </div>
            </div>
          </div>      </div>
      <div class="carousel-item">
        <div class="row mb-2">
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2">Sport</strong>
                  <h3 class="mb-0">Scottish Football Grounds</h3>
                  <p class="card-text mb-auto">By capacity</p>
                  <a href="{{ url_for('tenquiz', quizName='spflGrounds') }}" class="stretched-link btn-dark">Take the quiz</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2">Sport</strong>
                  <h3 class="mb-0">Andy Murray Gran Slam Finals</h3>
                  <p class="mb-auto">Competition and year</p>
                  <a href="{{ url_for('tenquiz', quizName='andyMurrayYears') }}" class="stretched-link btn-dark">Take the quiz</a>
                </div>
              </div>
            </div>
          </div>      </div>
      <div class="carousel-item">
        <div class="row mb-2">
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2">Sport</strong>
                  <h3 class="mb-0">Scotland's Ski Areas - by height</h3>
                  <p class="card-text mb-auto">It's gotta be the Lecht, right?</p>
                  <a href="{{ url_for('smallquiz', quizName='skiAreaHeights') }}" class="stretched-link btn-dark">Take the quiz</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2">Sport</strong>
                  <h3 class="mb-0">Scottish Rugby Hall of Fame</h3>
                  <p class="mb-auto">Inductees</p>
                  <a href="{{ url_for('tenquiz', quizName='rugbyHall') }}" class="stretched-link btn-dark">Take the quiz</a>
                </div>
              </div>
            </div>
          </div>      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>

  <h2 class="display-5 text-center">Featured Quizzes</h2>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" id="1978">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Scotland 1978. <span class="text-muted">Squad.</span></h2>
        <p class="lead">Difficult.</p>
      </div>
      <div class="col-md-5">
        <a href="{{ url_for('footballquiz', quizName='scotland1978XI') }}" class="stretched-link btn-warning"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/15252/football.svg"></svg>
      </div>
    </div>

    <hr class="featurette-divider" id="ground">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Name the ground. <span class="text-muted">Picture Quiz.</span></h2>
        <p class="lead">Football.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <a href="{{ url_for('picturequiz3', quizName='nameTheGround') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/91414/football.svg"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Football. <span class="text-muted">Most Goals.</span></h2>
        <p class="lead">Scottish Domestic Football.</p>
      </div>
      <div class="col-md-5">
        <a href="{{ url_for('tenquiz', quizName='domesticMostGoals') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/118187/football-shoes.svg"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider">


    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Lowland Football League. <span class="text-muted">Members.</span></h2>
        <p class="lead">Can you name them all?</p>
      </div>
      <div class="col-md-5 order-md-1">
        <a href="{{ url_for('sixteenquiz', quizName='lflMembers') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/78228/football-shirt.svg"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Scottish Olympians. <span class="text-muted">Legends.</span></h2>
        <p class="lead">2016 Medals</p>
      </div>
      <div class="col-md-5">
        <a href="{{ url_for('eightquiz', quizName='medals2016') }}" class="stretched-link"></a>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="https://www.svgrepo.com/show/80766/olympic-games.svg"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->

  <hr>
  <h2 class="display-5 text-center">Small Quizzes</h2>
  <hr>

    <!-- Start of four quiz rows -->
<div class="row mb-2">
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Scottish Rugby</h3>
        <p class="card-text mb-auto">Calcutta Cup Wins</p>
        <a href="{{ url_for('fivequiz', quizName='calcuttaYears') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Scottish Cyclists</h3>
        <p class="mb-auto">Name them</p>
        <a href="{{ url_for('fivequiz', quizName='scottishCyclists') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Snooker</h3>
        <p class="mb-auto">Crucible Winners</p>
        <a href="{{ url_for('fivequiz', quizName='crucibleWinners') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Scottish National Football Team</h3>
        <p class="mb-auto">Highest Scorers</p>
        <a href="{{ url_for('fivequiz', quizName='nationalHighScorers') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
</div> 

<div class="row mb-2">
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Highland Football League</h3>
        <p class="card-text mb-auto">Newest Members</p>
        <a href="{{ url_for('fivequiz', quizName='hflMembers') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Highland Football League</h3>
        <p class="mb-auto">First Five Winners</p>
        <a href="{{ url_for('fivequiz', quizName='hflFirst') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Scottish Football Cup</h3>
        <p class="mb-auto">Most Wins</p>
        <a href="{{ url_for('fivequiz', quizName='cupWins') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Scottish Football Cup</h3>
        <p class="mb-auto">Most Runners Up</p>
        <a href="{{ url_for('fivequiz', quizName='cupRunnersUp') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
</div> 

<div class="row mb-2">
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Horse Racing</h3>
        <p class="card-text mb-auto">Scottish Race Courses</p>
        <a href="{{ url_for('fivequiz', quizName='nameTheRacecourses') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Katherine Grainger</h3>
        <p class="mb-auto">Olympic Medals</p>
        <a href="{{ url_for('fivequiz', quizName='kGrainger') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Most Successful Olympians</h3>
        <p class="mb-auto">Can you name them?</p>
        <a href="{{ url_for('fivequiz', quizName='mostSuccessfulOlympians') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Scottish Football Champions</h3>
        <p class="mb-auto">Outside The Top Two</p>
        <a href="{{ url_for('fivequiz', quizName='nonBigTwo') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
</div> 

<hr>
<h2 class="display-5 text-center">Medium Quizzes</h2>
<hr>

<div class="row mb-2">
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">SPFL Ground Sizes</h3>
        <p class="card-text mb-auto">Difficult!</p>
        <a href="{{ url_for('mediumquiz', quizName='spflGroundSize') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Rugby</h3>
        <p class="mb-auto">Try Scorers</p>
        <a href="{{ url_for('tenquiz', quizName='tryScorers') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Rugby</h3>
        <p class="mb-auto">Most Points</p>
        <a href="{{ url_for('tenquiz', quizName='rugbyPoints') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Rugby</h3>
        <p class="mb-auto">Most Caps</p>
        <a href="{{ url_for('tenquiz', quizName='mostCaps') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
</div> 

<div class="row mb-2">
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Highland Football League</h3>
        <p class="card-text mb-auto">Title Winners</p>
        <a href="{{ url_for('tenquiz', quizName='hflWinners') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Highland Football League</h3>
        <p class="mb-auto">Biggest Grounds</p>
        <a href="{{ url_for('tenquiz', quizName='hflGrounds') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Football</h3>
        <p class="mb-auto">Scotland at the WC</p>
        <a href="{{ url_for('eightquiz', quizName='worldCup') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Scottish National Football Team</h3>
        <p class="mb-auto">Most Caps</p>
        <a href="{{ url_for('tenquiz', quizName='footballMostCaps') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
</div> 

<hr>
<h2 class="display-5 text-center">Picture Quizzes</h2>
<hr>

<div class="row mb-2">
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Golf Courses</h3>
        <p class="card-text mb-auto">Picture Quiz</p>
        <a href="{{ url_for('picturequiz3', quizName='golf') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Football Stadiums</h3>
        <p class="mb-auto">Picture Quiz</p>
        <a href="{{ url_for('picturequiz3', quizName='nameTheGround') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Sporting Arenas</h3>
        <p class="mb-auto">Picture Quiz</p>
        <a href="{{ url_for('picturequiz3', quizName='sportingArenas') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Scottish Sports</h3>
        <p class="mb-auto">Name the sport</p>
        <a href="{{ url_for('picturequiz3', quizName='scotSports') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
</div> 

<div class="row mb-2">
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Highland Football League</h3>
        <p class="card-text mb-auto">Guess the club</p>
        <a href="{{ url_for('picturequiz3', quizName='hflTowns') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Football Stadiums II</h3>
        <p class="mb-auto">Picture Quiz</p>
        <a href="{{ url_for('picturequiz3', quizName='stadiumsII') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Race Courses</h3>
        <p class="mb-auto">Can you name them?</p>
        <a href="{{ url_for('picturequiz3', quizName='raceCourses') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Ski Areas</h3>
        <p class="mb-auto">Picture Quiz</p>
        <a href="{{ url_for('picturequiz3', quizName='skiAreaPictures') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
</div> 

<hr>
<h2 class="display-5 text-center">Jumbo Quizzes</h2>
<hr>

<div class="row mb-2">
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Highland Football League</h3>
        <p class="card-text mb-auto">Winners</p>
        <a href="{{ url_for('fifteenquiz', quizName='hflJumboWinners') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Celtic Captains</h3>
        <p class="mb-auto">First 30</p>
        <a href="{{ url_for('jumboquiz', quizName='celticCaptains') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Rangers Captains</h3>
        <p class="mb-auto">First 30</p>
        <a href="{{ url_for('jumboquiz', quizName='rangersCaptains') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Scottish National Football Team</h3>
        <p class="mb-auto">Managers</p>
        <a href="{{ url_for('twentyquiz', quizName='footballManagers') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
</div> 

<div class="row mb-2">
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Lowland Football League</h3>
        <p class="card-text mb-auto">Current Clubs</p>
        <a href="{{ url_for('sixteenquiz', quizName='lflMembers') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">2019-20, SPFL Top 3 divisions</h3>
        <p class="mb-auto">Name the clubs</p>
        <a href="{{ url_for('shirequiz', quizName='spfl3Div') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0"> 2019-20 SPFL non-Premiership clubs</h3>
        <p class="mb-auto">Name the clubs</p>
        <a href="{{ url_for('jumboquiz', quizName='nonPremClubs') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">Sport</strong>
        <h3 class="mb-0">Scottish Women's Premier League I & II</h3>
        <p class="mb-auto">Name the clubs</p>
        <a href="{{ url_for('sixteenquiz', quizName='swplOneAndTwo') }}" class="stretched-link btn-dark">Take the quiz</a>
      </div>
    </div>
  </div>
</div> 

{% endblock %}