{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>
    .jumbotron{
  margin-top: 20px;
  background-image: url("https://live.staticflickr.com/675/21317753794_d72e775f5a_b.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
}

</style>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
        <h1 class="display-4 font-italic">Coming soon</h1>
    </div>
  </div>

  {% endblock %}